#toppart {
    font-size: 88px
  }
  
  #secondtop {
    font-size: 60px;
  }
  h2 {
      text-align: center
  }
  h3 {
      text-align: center
  }
  h3 {
      font-size: 64px;
  }
  h1 {
      text-align: center;
  }
  h4 {
      font-size: 40px;
  }

  section {
      text-align: center;
  }
  
  #about {
      background-color: rgb(99, 151, 201);
      display: block;
    margin: 0 auto;
    font-size: 40px;
    width: 75%;
    height: 100px;
      text-align: center;
  }
  #about:hover {
      background-color:rgb(67, 135, 175);
  }
  #home {
      background-color: rgb(99, 151, 201);
      display: block;
    margin: 0 auto;
    font-size: 40px;
    width: 75%;
    height: 100px;
      text-align: center
  }
  #home:hover {
      background-color: rgb(67, 135, 175);
  }
  #products {
      background-color:rgb(99, 151, 201);
      display: block;
      margin: 0 auto;
    font-size: 40px;
    width: 75%;
    height: 100px;
      text-align: center
  }
  #products:hover {
      background-color: rgb(67, 135, 175);
  }
  #suggestions {
      background-color:rgb(99, 151, 201);
      display: block;
    margin: 0 auto;
    font-size: 40px;
    width: 75%;
    height: 100px;
      text-align: center
  }
  #suggestions:hover {
      background-color: rgb(67, 135, 175);
  }
  #todo {
    border: 0;
    box-decoration-break: none;
    background-color: transparent;
  }
  img {
      width: 210px;
      height: 210px;
  }