ul {
    display: inline;
    list-style-type: none;
    text-align: center;
}
li {
    text-align: center;
    /* float: left; */
}
p {
    text-align: center;
}
a {
    padding: 50px;
}

#hello {
    background-color: grey;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

#todoicon {
    height: 100px;
}

#soon {
    font-size: 30px;
}
#what {
    font-size: 20px;
}